@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Label.main {
  font-size: 72;
  color: #2ab;
}
Button.primary {
  font-size: 24;
  font-weight: 700;
  background-color: #e8e8e8;
  border-radius: 4px;
}
